<div class="row">
  <div class="col">
    <div class="insurance_extras" *ngIf="car">
      <h1 class="card-protection">Protection Information </h1>
      <div class="card-body" style="background: white" >
        <form #form="ngForm">
          <div class="left">
            <mat-checkbox [(ngModel)]="cdwSelected" (change)="totalProtectionCost()" [ngModelOptions]="{standalone: true}">CDW</mat-checkbox>
          </div>
          <div class="right">${{car.insurance_CDW}}.00\Day</div>
          <mat-divider></mat-divider>

          <div class="left">
            <mat-checkbox [(ngModel)]="tpSelected" (change)="totalProtectionCost()" [ngModelOptions]="{standalone: true}"> TP</mat-checkbox>
          </div>
          <div class="right">${{car.insurance_TP}}.00/Day</div>
          <mat-divider></mat-divider>

          <div class="left">
            <mat-checkbox [(ngModel)]="plcSelected" (change)="totalProtectionCost()" [ngModelOptions]="{standalone: true}">3PLC</mat-checkbox>
          </div>
          <div class="right">${{car.insurance_3PLC}}.00/Day</div>
          <mat-divider></mat-divider>

          <div class="left">
            <mat-checkbox [(ngModel)]="cdwSuperSelected" (change)="totalProtectionCost()" [ngModelOptions]="{standalone: true}">Super CDW</mat-checkbox>
          </div>
          <div class="right">${{car.insurance_SuperCDW}}.00/Day</div>
          <mat-divider></mat-divider>

          <div class="left">
            <mat-checkbox [(ngModel)]="tpSuperSelected" (change)="totalProtectionCost()" [ngModelOptions]="{standalone: true}">Super TP</mat-checkbox>
          </div>
          <div class="right">${{car.insurance_SuperTP}}.00/Day</div>

        </form>
      </div>
<!----------------------------------------------------->
      <h1 class="card-header">Extras</h1>
      <div class="card-body" style="background: white">

        <div class="left">
          <mat-checkbox [(ngModel)]="childBoosterSelected" (change)="totalExtrasCost()" [ngModelOptions]="{standalone: true}">CBS Child Booster Seat (8 years and above)</mat-checkbox>
        </div>
        <div class="right">${{extras[0].childBooster}}.00/Day</div>

        <mat-divider></mat-divider>

        <div class="left">
          <mat-checkbox [(ngModel)]="childSeatSelected" (change)="totalExtrasCost()" [ngModelOptions]="{standalone: true}"> CSI Child Seat for Infant (0-12 months)‎</mat-checkbox>
        </div>
        <div class="right">${{extras[0].childSeat}}.00/Day</div>

        <mat-divider></mat-divider>

        <div class="left">
          <mat-checkbox [(ngModel)]="roadSafeAssistanceSelected" (change)="totalExtrasCost()" [ngModelOptions]="{standalone: true}">ROADSAFE Assistance</mat-checkbox>
        </div>
        <div class="right">${{extras[0].roadSafeAssistance}}.00/Day</div>

        <mat-divider></mat-divider>

        <div class="left">
          <mat-checkbox [(ngModel)]="navigationSelected" (change)="totalExtrasCost()" [ngModelOptions]="{standalone: true}">Smartphone – Navigation System GPS‎</mat-checkbox>
        </div>
        <div class="right">${{extras[0].navigation}}.00/Day</div>

        <mat-divider></mat-divider>

        <div class="left">
          <mat-checkbox [(ngModel)]="babyChildSeatSelected" (change)="totalExtrasCost()" [ngModelOptions]="{standalone: true}">Baby/Child Seat</mat-checkbox>
        </div>
        <div class="right">${{extras[0].babyChildSeat}}.00/Day</div>

        <mat-divider></mat-divider>

        <div class="left">
          <mat-checkbox [(ngModel)]="additionalDriverSelected" (change)="totalExtrasCost()" [ngModelOptions]="{standalone: true}">Additional Driver</mat-checkbox>
        </div>
        <div class="right">${{extras[0].additionalDriver}}.00/Day</div>

        <mat-divider></mat-divider>

        <div class="left">
          <mat-checkbox [(ngModel)]="underageDriverSelected" (change)="totalExtrasCost()" [ngModelOptions]="{standalone: true}">Underage Driver</mat-checkbox>
        </div>
        <div class="right">${{extras[0].underageDriver}}.00/Day</div>

        <mat-divider></mat-divider>

        <div class="left">
          <mat-checkbox [(ngModel)]="airportFeeSelected" (change)="totalExtrasCost()" [ngModelOptions]="{standalone: true}">Airport Fee</mat-checkbox>
        </div>
        <div class="right">${{extras[0].airportFee}}.00/Day</div>

        <mat-divider></mat-divider>
        <div class="left">
          <mat-checkbox [(ngModel)]="vipServiceSelected" (change)="totalExtrasCost()" [ngModelOptions]="{standalone: true}">VIP SERVICE</mat-checkbox>
        </div>
        <div class="right">${{extras[0].vipService}}.00/Day</div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="total">
      <h1>Total amount </h1>
      <div>
        <h2> Protections </h2>
        ${{totalProtectionValue}}.00/Day
        <h2> Extras </h2>
        ${{totalExtraValue}}.00/Day
      </div>
<!--      <div style="background: white" *ngIf="tpSelected === true">-->
<!--        {{totalCountValue ++ car.insurance_TP}}-->
<!--      </div>-->
<!--      <div style="background: white">-->
<!--        {{totalCountValue}}-->
<!--      </div>-->
    </div>

  </div>
</div>
